__pycache__/

# Virtual Environment
venv/
.venv-docs/

Notebooks/Results/
Notebooks/Simulation/
Data/
Output/
dist/
build/
*.egg-info/
docs/build/
docs/_build/
docs/
.github/


# Jupyter Notebook
.ipynb_checkpoints

# Formats
**/*.tif
**/*.tiff
**/*.dcm
*.tif
*.tiff
*.dcm
*.log
*.vrml
*.out
*.pdf
test*
*.spec

# Files
Notebooks/test*
all.txt

